<article class="post-preview">
  <hgroup>
    <h3><%= diary_entry_link(entity, diary_entry_title(entity)) %></h3>
  </hgroup>

  <figure>
    <div class="image">
      <% if entity.image.attached? %>
        <%= post_image_small(entity) %>
      <% else %>
        <%= image_tag('posts/placeholder.svg', alt: '') %>
      <% end %>
    </div>
  </figure>

  <div class="post-body">
    <%= simple_format(entity.preview) %>
    <p><%= diary_entry_link(entity, entity.read_more_text) %> &hellip;</p>
  </div>
</article>
