<% content_for :title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<section>
  <h1><%= t('.heading') %></h1>

  <%= paginate @collection[:dates] %>
  <% @collection[:posts].each do |date, posts| %>
    <%= render partial: 'diary/date', locals: { date:, posts: } %>
  <% end %>
  <%= paginate @collection[:dates] %>
</section>
