<% content_for :title, t('.title', date: params[:date]) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('diary.index.nav_text'), diary_path) %>
  <span><%= l(@date) %></span>
<% end %>

<section class="diary">
  <hgroup>
    <h1><%= t('.heading', date: l(@date)) %></h1>
    <p><%= l(@date, format: '%A') %></p>
  </hgroup>

  <nav class="adjacent">
    <% if @adjacent[:prev].present? %>
      <%= diary_entry_link(@adjacent[:prev], l(@adjacent[:prev]), class: 'prev') %>
    <% end %>
    <% if @adjacent[:next].present? %>
      <%= diary_entry_link(@adjacent[:next], l(@adjacent[:next]), class: 'next') %>
    <% end %>
  </nav>

  <% @collection.each do |entity| %>
    <%= render partial: 'diary/entity', locals: { entity: } %>
  <% end %>
</section>
