<%= form_with(model: post) do |form| %>
  <%= render partial: 'shared/entity/list_of_errors', locals: { entity: post } %>

  <dl class="fields">
    <div>
      <dt><%= form.label :sibling_id %></dt>
      <dd>
        <%= form.collection_select :sibling_id, Sibling.all, :id, :name, {}, class: 'input-select' %>
      </dd>
    </div>

    <div>
      <dt><%= form.label :image %></dt>
      <dd>
        <% if post.image.attached? %>
          <figure class="image-preview">
            <%= post_image_small(post) %>
          </figure>
        <% end %>
        <div>
          <%= form.file_field :image, accept: "image/*" %>
        </div>
      </dd>
    </div>

    <div>
      <dt><%= form.label :date %></dt>
      <dd><%= form.date_field :date, class: 'input-text' %></dd>
    </div>

    <div>
      <dt><%= form.label :title %></dt>
      <dd><%= form.text_field :title, class: 'input-text' %></dd>
    </div>

    <div>
      <dt><%= form.label :body %></dt>
      <dd><%= form.textarea :body, class: 'input-text', rows: 25 %></dd>
    </div>
  </dl>

  <div>
    <%= form.submit %>
  </div>
<% end %>
