<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <dl>
    <div>
      <dt><%= form.label :sibling_id %></dt>
      <dd>
        <%= form.collection_select :sibling_id, Sibling.all, :id, :name %>
      </dd>
    </div>

    <div>
      <dt><%= form.label :image %></dt>
      <dd><%= form.file_field :image, accept: "image/*" %></dd>
    </div>

    <div>
      <dt><%= form.label :date %></dt>
      <dd><%= form.date_field :date %></dd>
    </div>

    <div>
      <dt><%= form.label :title %></dt>
      <dd><%= form.text_field :title %></dd>
    </div>

    <div>
      <dt><%= form.label :body %></dt>
      <dd><%= form.textarea :body %></dd>
    </div>
  </dl>

  <div>
    <%= form.submit %>
  </div>
<% end %>
