<article id="<%= dom_id post %>" class="post">
  <hgroup>
    <h1><%= post.title_for_page %></h1>
    <% unless post.title.blank? %>
      <h2><%= post.title %></h2>
    <% end %>
    <p><%= l(post.date, format: '%A') %></p>
  </hgroup>

  <% if post.image.attached? %>
    <figure>
      <div class="image">
        <%= post_image_large(post) %>
      </div>
    </figure>
  <% end %>

  <div class="post-body">
    <%= simple_format(post.body_for_page) %>
  </div>
</article>
