<div id="<%= dom_id post %>">
  <% if post.image.attached? %>
    <figure class="item-card">
      <div class="image">
        <%= link_to(post_image_small(post), post) %>
      </div>
    </figure>
  <% end %>

  <p>
    <strong>Sibling:</strong>
    <%= post.sibling.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= post.date %>
    (<%= l(post.date, format: '%A') %>)
  </p>

  <% unless post.title.blank? %>
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>
  <% end %>

  <p>
    <strong>Body:</strong>
    <%= simple_format(post.body) %>
  </p>

</div>
