<p style="color: green"><%= notice %></p>

<% content_for :title, t('.title', page: current_page) %>

<h1><%= t('.heading') %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= paginate @posts %>

<%= link_to t('posts.new.title'), new_post_path %>
