<% content_for :title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<section class="posts-index">
  <h1><%= t('.heading') %></h1>

  <div class="entity-actions">
    <%= create_icon(new_post_path) %>
  </div>

  <%= paginate @collection %>

  <div class="collection">
    <% @collection.each do |entity| %>
      <%= render partial: 'posts/entity/preview', locals: { entity: } %>
    <% end %>
  </div>

  <%= paginate @collection %>
</section>
